body {
    background: linear-gradient(green, lightgreen);
    margin: 0;
    font-family: Inter;
    background-color: rgb(6, 70, 6); 
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
}

/* Header Settings */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 4em;
    }


.header-left img {
    position: relative;
    width: 150px;
    height: auto;
    margin-top: 0.4em;
} 

.header-left img:active {
    transform: translateY(2px);
}

/* Navigation Settings*/

nav {
    z-index: 999;
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 1em;
    font-weight: 400;
    margin-left: 10em;
}

nav .category-menu-open a {
    background-color: rgb(4, 214, 46);
    padding: 1.0em 1.0em;
    border-radius: 1em;
    color: black;
    text-decoration: none;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    border: 2px solid darkgreen;
}

nav .leave-a-request-desktop a {
    background-color: rgb(4, 214, 46);
    padding: 1.0em 1.0em;
    border-radius: 1em;
    color: black;
    text-decoration: none;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    border: 2px solid darkgreen;
}

nav .about-us-desktop a {
    background-color: rgb(4, 214, 46);
    padding: 1.0em 1.0em;
    border-radius: 1em;
    color: black;
    text-decoration: none;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    border: 2px solid darkgreen;
}

nav .category-menu-open ul li {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav .category-menu-open ul li a {
    width: 100%;
}

nav .category-menu-open ul a:active {
    transform: translateY(2px);
}

nav .category-menu-open a:active {
    transform: translateY(2px);
}

nav a:active {
    transform: translateY(2px);
}


/* Main Settings*/

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-name {
    display: flex;
    color: wheat;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    margin-top: 0.7em;
}

main.flex-wrap {
    flex-wrap: wrap;
}

main .text h1 {
    color: black;
    font-size: 4em;
    max-width: 800px;
}

main .text p {
    color: black;
    font-size: 1.5em;
} 

main .text p, main .text h1 {
    margin-top: 0.3em;
}

main .action-button {
    display: flex;
    text-align: center;
    background-color: rgb(17, 51, 32);
    color: rgb(245, 222, 179);
    padding: 1em 2em;
    border-radius: 1em;
    text-decoration: none;
    font-size: larger;
    margin-top: 2em;
    max-width: 150px;
    font-weight: bold;
}

.action-button:active {
    transform: translateY(2px);
}

main .food-container img{
    margin-top: auto;
    position: relative;
    height: auto;
    width: 640px;
    display: flex;
    justify-content: flex-end;
}

main a:hover {
    background-color: rgb(22, 70, 44);
}

.text {
    display: flex;
    flex-direction: column;
}

/* Category Settings*/

.category-menu-open a {
    padding: 0.75em 1em;
}

.category img{
    width: 50px;
    height: 50px;
} 

.category {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: green;
    list-style: none;
    padding: 1px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.category.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    padding-bottom: 1em;
}

/* About Us page */

.about-us-description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.slogan {
    text-align: center;
    color: black;
    font-size: 4em;
}

.description {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.truck {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.truck img {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 80%;
    max-width: 100%;
    height: auto;
    align-items: center;
}

/* Request Page */

.main-request {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.request-text {
    font-size: larger;
}

form {
    margin-top: 1.5em;
}

form input[type="text"] {
    width: 30vw;
    font-size: large;
}

form input[type="email"] {
    width: 30vw;
    font-size: large;
}

form input[type="tel"] {
    width: 30vw;
    font-size: large;
}

form input[type="url"] {
    width: 30vw;
    font-size: large;
}


.fname {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 4em;
}

.sname{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 4em;
}

.jobtitle {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 5em;
}

.phonenum {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 3.5em;
}

.email {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 6.1em;
}

.estname {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 2.6em;
}

.estadress {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 2.9em;
}

.link {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 7.3em;
}    

.i-agree {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 2em; 
}

.i-agree label a {
    text-decoration: none;
    background-color: transparent;
}

.i-agree label a:hover {
    text-decoration: underline;
}

.i-agree input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.5);
    margin-top: 0.3em;
}

.submit-button input[type="submit"] {
    margin-top: 1em;
    background-color: rgb(17, 51, 32);
    color: rgb(245, 222, 179);
    padding: 1em 2em;
    border-radius: 2em;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    border: none
}

.submit-button input[type="submit"]:hover {
    background-color: green;
}
.submit-button input[type="submit"]:active {
    transform: translateY(2px);
}

#mobile-menu {
    display: none;
}

/* Category page */

.category-text p {
    font-size: x-large;
    font-weight: 500;
}

.hero-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-category {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    flex-wrap: wrap;
}
.box {
    font-size: larger;
    font-weight: 500;
    padding: 1.5em 1em;
    background: linear-gradient(rgb(0, 165, 0), lightgreen, rgb(0, 255, 115));
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(0, 137, 69);
    width: 20%;
}

.box:hover {
    transform: translateY(-3px);
    transition: 0.1s;
}

.bottom {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}    

.advantages {
    background-color: greenyellow;
    border-radius: 15px;
    padding: 1em 1em;
    background: linear-gradient(yellow, lightgreen, gold);
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: large;
    border: 2px solid rgb(20, 68, 20);
}

.advantages1 {
    font-weight: 600;
}

.advtext {
    padding: 0.6em 0.8em;
    background: linear-gradient(gold, yellow);
    border-radius: 30px;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.how-it-works {
    text-align: left;
    background-color: rgb(16, 167, 96);
    border-radius: 20px;
    border: 2px solid rgb(0, 137, 69);
    font-size: large;
    padding: 1em;
    height: fit-content;
    font-weight: 500;
}

.how-it-works:hover {
    transform: translateY(-3px);
    transition: 0.1s;
}

.advantages:hover {
    transform: translateY(-3px);
    transition: 0.1s;
}

.leave-a-request {
    flex-wrap: wrap;
    text-decoration: none;
    padding: 1.5em 1em;
    background-color: rgb(153, 234, 40);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-size: large;
    border: 3px solid rgb(246, 255, 0);
    height: fit-content;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
    font-size: larger;
    font-weight: 600;
    margin-left: 1em;
} 

.leave-a-request:hover {
    background-color: rgb(123, 188, 32);
}

.leave-a-request:active {
    transform: translateY(5px);
}

/* Responsive Design */

@media (max-width: 1100px) {
    #mobile-menu {
        position: absolute;
        display: block;
        right: 1.5em;
        z-index: 999;
    }
    nav {
        margin-left: 0em;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        background: linear-gradient(lightgreen, green);
        border: 2px darkgreen solid;
        padding: 7em 0 0 0;
        width: 0;
        transition: width 0.3s ease;
        overflow: hidden;
        right: 0;
        height: calc(100vh - 5em);
        z-index: 990;
    }
    img {
        max-width: 100%;
        height: auto;
    }   
    main .food-container {
        width: 100%;
        margin-left: 40%;
    }
    nav li {
        width: 210px;
        margin-bottom: 2em;
    }
    nav li:last-of-type {
        margin-bottom: 0;
    }
    nav li a {
        text-align: center;
    }
    nav li a:active {
        background-color: lightgray;
    }
    .wrap {
        margin: 1em;
    }
   .header-left img {
        width: 100px;
        height: auto;
   }
   .main-name {
        font-size: 2em;
        font-weight: 700;
        white-space: nowrap;
   }
   .header-left {
        gap: 1em;
   }
   main h1 {
        font-size: 2.5em;
   }
   main p {
        font-size: 2em;
   }
   main {
        flex-direction: column;
        width: 100%;
    
   }
   .action-button {
        margin-top: 1em;
        max-width: 100%;
   }
   #category-button img {
        display: none;
   }
   form input[type="text"] {
        width: 50vw;
        font-size: large;
    }
    form input[type="tel"] {
        width: 50vw;
        font-size: large;
    }
    form input[type="url"] {
        width: 50vw;
        font-size: large;
    }
    form input[type="email"] {
        width: 50vw;
        font-size: large;
    }
   .submit-button {
        display: flex;
        justify-content: center;
   }

   .submit-button input[type="submit"] {
        width: 50%;
   }

   .box p {
        font-size: 18px;
   }

   .box h3 {
    font-size: 24px;
   }

   .box {
    width: 45%;
    margin-top: 1em;
   }

   .how-it-works p{
    font-size: 20px;
   }

   .how-it-works {
    width: 45%;
    height: 87.9%;
   }
   .advtext {
    font-size: 20px;
   }

   .advantages {
    width: 45%;
   }

   .leave-a-request {
    margin-bottom: 0;
   }

   .bottom {
    justify-content: space-between;
   }
}

@media (max-width: 600px) {
    #mobile-menu {
        position: absolute;
        display: block;
        right: 1.5em;
        z-index: 999;
    }
    nav {
        margin-left: 0em;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        background: linear-gradient(lightgreen, green);
        padding: 7em 0 0 0;
        width: 0;
        transition: width 0.3s ease;
        overflow: hidden;
        right: 0;
        height: calc(100vh - 5em);
        z-index: 990;
    }
    img {
        max-width: 100%;
        height: auto;
    }   
    main .food-container {
        width: 100%;
        margin-left: 0em;
    }
    nav li {
        width: 210px;
        margin-bottom: 2em;
    }
    nav li:last-of-type {
        margin-bottom: 0;
    }
    nav li a {
        text-align: center;
    }
    nav li a:active {
        background-color: lightgray;
    }
    .wrap {
        margin: 1em;
    }
   .header-left img {
        width: 100px;
        height: auto;
   }
   .main-name {
        font-size: 2em;
        font-weight: 700;
        white-space: nowrap;
   }
   .header-left {
        gap: 1em;
   }
   main h1 {
        font-size: 2.5em;
   }
   main p {
        font-size: 2em;
   }
   main {
        flex-direction: column;
        width: 100%;
    
   }
   .action-button {
        margin-top: 1em;
        max-width: 100%;
   }
   #category-button img {
        display: none;
   }
   form input[type="text"] {
        width: 40vw;
        font-size: large;
    }

    form input[type="tel"] {
        width: 40vw;
        font-size: large;
    }
    form input[type="url"] {
        width: 40vw;
        font-size: large;
    }
    form input[type="email"] {
        width: 40vw;
        font-size: large;
    }
   .submit-button {
        display: flex;
        justify-content: center;
   }

   .submit-button input[type="submit"] {
        width: 50%;
   }

   .box p {
        font-size: 22px;
   }

   .box h2 {
    font-size: 20px;
   }

   .box {
    width: 34%;
    margin-top: 1em;
    margin-right: 1em;
   }

   .how-it-works p{
    font-size: 20px;
   }

   .how-it-works h3{
    font-size: 24px;
   }

   .advantages1 {
    font-size: 24px;
   }

   .how-it-works {
    width: 100%;
   }
   .advtext {
    font-size: 20px;
   }

   .advantages {
    width: 100%;
   }

   .leave-a-request {
    margin-bottom: 0;
   }

   .bottom {
    justify-content: space-between;
   }
}